/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.




 */
html {
  font-family: 'Roboto', sans-serif; }

#header {
  color: blue;
  background-color: #151515;
  height: 2em;
  font-size: 2em;
  border-radius: 2em;
  margin: auto;
  width: 25%; }

#footer-navbar {
  background-color: #003366;
  font-size: 2em;
  border-radius: 2em;
  width: 50%; }

#map-container {
  height: 1000px;
  width: 800px; }

#graph {
  height: 600px;
  width: 1200px; }

/*classe clearfix  */
#clearfix {
  *zoom: 1; }

#clearfix:before,
#clearfix:after {
  display: table;
  content: "";
  line-height: 0; }

#clearfix:after {
  clear: both; }

a {
  color: #151515;
  text-decoration: none; }
  a:hover {
    color: blue;
    text-decoration: underline;
    background: none; }
  a:visited {
    color: #151515; }
