<section>


<!-- <div id="footer" class="clearfix"> -->
    <div class="content container fullwidth padded">
      <div class="title grid-full">
          <h2>Contacts</h2>
          <span class="border"></span>
      </div>

<!-- Contact Links -->
  <!-- <ul class="contact animated hatch clearfix"> -->
    <li class="grid-2">
        <p> <i class="icon-phone"></i>    <br>
                +33 5 XX XX XX XX
    </li>
    <li class="grid-2">
       <a id="contact-open" href="#">
         <p>  <i class="icon-mail"></i>  <br>
                    X@suez.com             </p>
      </a>
    </li>
    <li class="grid-2">
      <a href="https://www.google.fr/maps/place/91+Rue+Paulin,+33000+Bordeaux/@44.8497109,-0.5896855,17z/data=!3m1!4b1!4m5!3m4!1s0xd552809f73fbbf1:0x6186ac150974aad7!8m2!3d44.8497071!4d-0.5874968?hl=fr" target="_blank">
        <p>  <i class="icon-location"></i>     <br>
                    91, rue Paulin, 33000 Bordeaux    </p>
      </a>
    </li>
  </ul>
    </div>


    <div class="container">

        <!-- Social Links -->
        <ul class="social-links grid-full">
            <li><a href="https://twitter.com/le_lyre" target="_blank" title="Twitter"><span class="icon-circle large"><i class="icon-twitter large"></i></span>
            </a></li><li><a href="https://www.linkedin.com/" target="_blank" title="LinkedIn">
            <span class="icon-circle large"><i class="icon-linkedin large"></i></span></a></li>
       </ul>

        <!-- Copyright Info -->
        <div class="copyright grid-full"><h6>©2016 LyRE. All Rights Reserved.</br></br>

<small>
</section>
