



  <!--<section class="content container" id= "enSavoirPlus" > -->
  <section id="enSavoirPlus" class="home-first-section hero parallax clearfix">


<!--<div class="dark content container">-->

  <div class="title grid-full">
      <h2 style="margin-top: 300px;"> Pourquoi des sondes embarquées </h2>
      <span class="border"></span>


  <div class="sub-heading">
        <p> la mesure permet d'évaluer la qualité d'une masse d'eau </p>
        <ul class ="call-to-action">
          <li><a class="button" href="#carte"> la carte </a> </li>
          <li><a class="button" href="#graph"> les graphs </a> </li>
        </ul>

</section>
