<nav id = "header" class="navbar navbar-default navbar-fixed-top" role="navigation">
   <div class="navbar-header">
      <br>
      <center> Decoda
      <br>sondes embarquées </center>
   </div>
</nav>
