

  <!--<section class="content container" id= "enSavoirPlus" > -->
  <section id="intro" class="home-first-section hero parallax clearfix" style="background-image: url('http://p9.storage.canalblog.com/92/25/423276/87387478_o.jpg');">

<div class="dark content container">
  <div class="title grid-full">
      <h1 style="font-size: 60px; margin-top: 500px;"> Sondes embarquées</h1>
      <span class="border"></span>


  <div class="sub-heading">
        <ul class ="call-to-action">
          <li><a class="button" href="#enSavoirPlus">En savoir plus</a> </li>
        </ul>

</section>
