<!-- section partenaires -->


<section class="content container fullwidth padded" id="partenaires">

    <div class="title grid-full">
        <h2>Partenaires</h2>
        <span class="border"></span>
    <!-- </div>
    <div class="clearfix"></div>

    <div class="shortcode clearfix">-->
    <ul class="animated fade grid-full id-bx-pager ae-animation-fade" style="text-align: center;" data-appear-bottom-offset="150">
<li><a class="active" href="http://www.bordeaux-metropole.fr/" target="_blank" data-slide-index="0"><img class="peLazyLoading pe-lazyload-inited pe-lazyload-loaded" style="opacity: 1;" src="http://etapes.com/system/32891/large/bordeaux-metropole-1-systeme-et-28-logos.jpg" alt="" width="282" height="112" data-original="http://etapes.com/system/32891/large/bordeaux-metropole-1-systeme-et-28-logos.jpg" data-original-hires="http://etapes.com/system/32891/large/bordeaux-metropole-1-systeme-et-28-logos.jpg" /></a></li>

<li><a class="active" href="http://www.keolis.com/" target="_blank" data-slide-index="0"><img class="peLazyLoading pe-lazyload-inited pe-lazyload-loaded" style="opacity: 1;" src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a2/Keolis_logo.svg/1280px-Keolis_logo.svg.png" alt="" width="282" height="112" data-original="https://upload.wikimedia.org/wikipedia/en/thumb/a/a2/Keolis_logo.svg/1280px-Keolis_logo.svg.png" data-original-hires="https://upload.wikimedia.org/wikipedia/en/thumb/a/a2/Keolis_logo.svg/1280px-Keolis_logo.svg.png" /></a></li>


</ul>
    </div>


</section>
